#!/bin/sh
#
# DON'T EDIT THIS!
#
# CodeCrafters uses this file to test your code. Don't make any changes here!
#
# DON'T EDIT THIS!

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
readline = "6.2.4.2"
gnureadline = "8.2.13"

[dev-packages]

[requires]
python_version = "3"
